<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文档中心</title>
    <link rel="stylesheet" href="/resource/css/reset.css"/>
    <link rel="stylesheet" href="/resource/css/index.css"/>
    <script src="/resource/js/md5.min.js"></script>
    <!-- Import style -->
    <link rel="stylesheet" href="/resource/css/element-plus.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_2560346_x5gq2f9hby.css" />
    <!-- Import Vue 3 -->
    <script src="/resource/js/vue.global.js"></script>
    <!-- Import component library -->
    <script src="/resource/js/element-plus.js"></script>
    <script src="/resource/js/element-plus-zhCn.js"></script>
    <script src="/resource/js/axios.min.js"></script>
    <%- include ('../_values/global.ejs') -%>
    <%- include ('./_widgets/admin/_styles/index.ejs') -%>
</head>
<body>
<%- include ('./_widgets/admin/header.ejs') -%>
<%- include ('./_widgets/admin/sliderbar.ejs') -%>
<div class="page-container">
    <%- body %>
</div>
</body>
</html>
