<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=0">
    <link rel="stylesheet" href="/resource/css/reset.css"/>
    <link rel="stylesheet" href="/resource/css/index.css"/>
    <script src="/resource/js/petite-vue.js"></script>
    <title>文档中心</title>
    <%- include('../_values/global.ejs') %>
    <script>
      (function() {
        window.ContentId =  <%- data.content.id %>;
        window.menuRoot = 0;
        window.MenuHome = <%- data.menuHome %>;
        window.MenuList = <%- data.menuList %>;
        window.MenuTree = getMenuTree(window.MenuList);
        window.MenuId = null;
        /// 获取菜单树
        function getMenuTree(menus, root) {
          var list = JSON.parse(JSON.stringify(menus));
          var getChildren = function(id) {
            var result = [];
            list.forEach(function(val) {
              if(!val.parent_id) root = val.id;
              if (val.parent_id === id) {
                val.children = getChildren(val.id, root)
                result.push(val)
              }
              if(val.content_id === window.ContentId) {
                window.MenuId = root;
              }
            });
            if (result.length > 0) return result;
            else return null;
          }
          var result = []
          var menuTree = getChildren(window.menuRoot) || [];
          menuTree.forEach(function(menu) {
            if(menu.id === window.MenuId) {
              result = menu.children || [];
            }
          });
          return result;
        }
      })();

    </script>
</head>
<body>
<%- include('./_widgets/header.ejs') %>
<%- include('./_widgets/sliderbar.ejs') %>
<div class="home-container">
    <% if (data.content.doc_type === data.docTypeMap.rich) { %>
        <%- include('./_editor/rich.ejs') %>
    <% } %>
    <% if (data.content.doc_type === data.docTypeMap.markdown) { %>
        <%- include('./_editor/markdown.ejs') %>
    <% } %>
</div>
<style>
  .home-container {
    margin-top: 75px;
    margin-right: 15px;
    margin-left: 215px;
    margin-bottom: 15px;
  }
</style>
</body>
</html>
